.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.header {
    background-color: #00796b; 
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.brand {
    font-weight: bold;
    color: #ffffff; 
}

.brandHighlight {
    color: #00796b; 
}

.welcomeContainer {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
}

.welcomeContainer h1 {
    margin: 0;
    font-size: 2.5em;
}

.tagline {
    font-style: italic;
    margin-top: 10px;
    color: #ffffff; /* Improved color contrast */
}

.imageContainer {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.image {
    width: 100%;
    height: auto;
    max-width: 800px;
    border-radius: 10px;
    border: 2px solid #00796b;
}

.content {
    padding: 20px;
    max-width: 800px;
    line-height: 1.6;
    text-align: left;
    margin: 0 auto;
}

.provinceSection {
    margin: 20px 0;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.provinceSection h2 {
    color: #00796b; 
    font-size: 2em;
}

.provinceSection p {
    color: #333333;
}

.provinceImage {
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #00796b;
}

